useDynLib(arules,
  ## used by arulesSequences
  R_asList_ngCMatrix,
  R_cbind_ngCMatrix,
  R_colSubset_ngCMatrix,
  R_colSums_ngCMatrix,
  R_pnindex,
  R_pnrindex,
  R_recode_ngCMatrix,
  R_rowSubset_ngCMatrix,
  R_rowSums_ngCMatrix,
  R_wcount_ngCMatrix,
  R_weclat_ngCMatrix,
  R_rowWSums_ngCMatrix,
  R_hits_ngCMatrix,
  R_pnmax
)

import("methods")

importFrom("stats", "predict", "aggregate", "as.dist", "cor", 
  "rpois", "p.adjust")  ## we want to add methods

importFrom("utils", "write.table")  ## we want to add methods

import("graphics")

importFrom("Matrix", "summary", "image", "t", 
  "head", "tail") ## we need generics and methods 
importFrom("Matrix", "drop0") ## we need functions 
importClassesFrom("Matrix", "dgCMatrix", "ngCMatrix")
importMethodsFrom("Matrix", "crossprod", "rowSums", "colSums")

export(
  "read.transactions", 
  "read.PMML", 
  "write.PMML", 
  "random.transactions", 
  "random.patterns",
  "apriori", 
  "eclat",
  "weclat",
  "hits",
  "discretize",
  "addAggregate",
  "filterAggregate"
  )

exportClasses(
  "itemMatrix", "summary.itemMatrix",
  "transactions", "summary.transactions",
  "tidLists", "summary.tidLists", 
  "associations", "summary.associations",
  "itemsets", "summary.itemsets",
  "rules", "summary.rules",
  "ASparameter", "AScontrol",
  "APparameter", "APcontrol", "APappearance",
  "ECparameter", "ECcontrol",
  "ar_similarity", "ar_cross_dissimilarity", "dist"
)

exportMethods(
  "%in%",
  "%ain%",
  "%pin%",
  "LIST",
  "DATAFRAME",
  "[",
  "aggregate",
  "abbreviate",
  "addComplement",
  "coverage",
  "crossTable",
  "c", 
  "coerce",           ### for setAs
  "decode", 
  "dim", 
  "dimnames", "dimnames<-",
  "duplicated",
  "encode",
  "generatingItemsets",
  "head",
  "image", 
  "info", "info<-", 
  "initialize", 
  "inspect", 
  "intersect", 
  "itemInfo", "itemInfo<-", 
  "itemsetInfo", "itemsetInfo<-", 
  "items", "items<-",
  "itemLabels", "itemLabels<-", 
  "itemFrequency", 
  "itemFrequencyPlot",
  "itemUnion",
  "itemSetdiff",
  "itemIntersect",
  "is.significant",
  "is.redundant",
  "is.closed",
  "is.element",
  "is.maximal",
  "is.subset",
  "is.superset",
  "labels", 
  "length", 
  "lhs", "lhs<-",
  "match",
  "merge",
  "interestMeasure",
  "nitems",
  "quality", "quality<-",
  "recode",
  "rhs", "rhs<-", 
  "ruleInduction",
  "sample",
  "setdiff",
  "setequal",
  "show", 
  "size",
  "sort",
  "tail",
  "write",
  "subset", 
  "summary", 
  "support", 
  "supportingTransactions", 
  "t", 
  "tidLists", 
  "transactionInfo", "transactionInfo<-",
  "union",
  "unique",
  "affinity", 
  "predict",
  "dissimilarity"
)

S3method(plot, associations)
S3method(plot, itemMatrix)
